<template>
    <v-container>
        <v-layout text-center wrap>
            <v-flex xs12>
                <div class="limitsvg">
                    <svg class="svgdisplay" :width="width" :height="height"></svg>
                </div>
                <div id="tooltips"></div>
                <h2>Statistics</h2>

                <v-simple-table>
                    <template v-slot:default>
                        <thead>
                            <tr>
                                <th class="text-left">Statistic</th>
                                <th class="text-left">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in stats" :key="item.name">
                                <td class="text-left">{{ item.name }}</td>
                                <td class="text-left">{{ item.value }}</td>
                            </tr>
                        </tbody>
                    </template>
                </v-simple-table>
                <!-- <v-btn @click="scrollLeftSol">left</v-btn>
                <v-btn @click="scrollRightSol">right</v-btn> -->

            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import * as d3 from 'd3'

const csvindex = {
    plateid: 0,
    nodeid: 1,
    x: 2,
    y: 3,
    w: 4,
    h: 5,
    type: 6,
    cut: 7,
    parent: 8
}

const defind = {
    id: 0,
    plate: 1,
    x: 2,
    y: 3,
    w: 4,
    h: 5
}

export default {
    name: 'Main',
    data: () => ({
        plateid: 0,
        nbitemlimit: 500,
        spacePlates: 25,
        mindef: 2,
    }),
    props: ['solution', 'defects'],
    methods: {
        /** removes all elements from the svg display */
        clearsvg: function () {
            let svg = this.svg
            // remove all elts from svg
            while (svg.firstChild) {
                svg.removeChild(svg.firstChild)
            }
            // remove all tooltips
            let tooltips = document.querySelector("#tooltips")
            while (tooltips.firstChild) {
                tooltips.removeChild(tooltips.firstChild)
            }
        },
        scrollRightSol: function (v) {
            document.querySelector(".limitsvg").scrollBy({
                left: v,
                behavior: 'smooth'
            })
        },
        scrollLeftSol: function (v) {
            document.querySelector(".limitsvg").scrollBy({
                left: -v,
                behavior: 'smooth'
            })
        },
        /** updates the svg display  */
        displaySolution: function () {
            this.clearsvg()

            var infoDiv = d3.select("#tooltips").append("div")
                .attr("class", "tooltip")
                .style("opacity", 0);

            // add items
            let offsetX = 0
            let offsetplate = {}
            for (let i = 0; i < this.nbplates; i++) {
                offsetplate[i] = offsetX
                let currentitems = this.solution.lines.filter(e => e[csvindex.type] !== 2 && e[csvindex.plateid] === i)
                for (let e of currentitems) {
                    if (e[csvindex.type] >= 0) {  // items
                        // draw rect
                        this.svgd3.append("rect")
                            .attr("x", () => { return (offsetX + e[csvindex.x]) * this.scale })
                            .attr("y", () => { return this.height - (e[csvindex.y] + e[csvindex.h]) * this.scale })
                            .attr("width", () => { return e[csvindex.w] * this.scale })
                            .attr("height", () => { return e[csvindex.h] * this.scale })
                            .attr("stroke-width", this.nbcurrentitems < this.nbitemlimit ? 1 : 0.5)
                            .attr("stroke", "#555")
                            .attr("fill", "#7AA9BF")
                            .on('mouseover', function () {
                                // highlight the item
                                d3.select(this)
                                    .transition()
                                    .duration(100)
                                    .attr("fill", "#AAD9EF")
                                // show infotip
                                infoDiv.html(`ID: ${e[csvindex.type]}<br/>
                                Pos: ${e[csvindex.x]} x ${e[csvindex.y]}<br/>
                                Dim: ${e[csvindex.w]} x ${e[csvindex.h]}
                                `)
                                infoDiv
                                    .style("left", (d3.event.pageX + 15) + "px")
                                    .style("top", (d3.event.pageY - 28) + "px");
                                infoDiv.transition()
                                    .duration(200)
                                    .style("opacity", .9);
                            })
                            .on('mousemove', function () {
                                infoDiv
                                    .style("left", (d3.event.pageX + 15) + "px")
                                    .style("top", (d3.event.pageY - 28) + "px");
                            })
                            .on('mouseout', function () {
                                d3.select(this)
                                    .transition()
                                    .duration(100)
                                    .attr("fill", "#7AA9BF")
                                infoDiv.transition()
                                    .duration(200)
                                    .style("opacity", .0);
                            })
                        // draw item id
                        if (this.nbitems < this.nbitemlimit) {
                            if (e[csvindex.w] > 20 / this.scale && e[csvindex.h] > 20 / this.scale) {
                                this.svgd3.append("text")
                                    .attr("x", () => { return (offsetX + e[csvindex.x] + e[csvindex.w] / 2) * this.scale })
                                    .attr("y", () => { return this.height - (e[csvindex.y] + e[csvindex.h] / 2) * this.scale })
                                    .text(() => { return e[csvindex.type] })
                                    .attr("text", "hello")
                                    .attr("fill", "black")
                                    .attr('font-family', 'sans-serif')
                                    .attr('font-size', () => { return '10px' })
                                    .style('-moz-user-select', '-moz-none')
                                    .style('user-select', 'none')
                                    .style('pointer-events', 'none')
                                    .attr('alignment-baseline', 'middle')
                                    .attr('text-anchor', 'middle')
                            }
                        }
                    } else if (e[csvindex.type] === -1) {  // waste
                        this.svgd3.append("rect")
                            .attr("x", () => { return (offsetX + e[csvindex.x]) * this.scale })
                            .attr("y", () => { return this.height - (e[csvindex.y] + e[csvindex.h]) * this.scale })
                            .attr("width", () => { return e[csvindex.w] * this.scale })
                            .attr("height", () => { return e[csvindex.h] * this.scale })
                            .attr("stroke-width", 1)
                            .attr("stroke", "#555")
                            .attr("fill", "lightgray")
                    } else if (e[csvindex.type] === -3) {  // residual
                        this.svgd3.append("rect")
                            .attr("x", () => { return (offsetX + e[csvindex.x]) * this.scale })
                            .attr("y", () => { return this.height - (e[csvindex.y] + e[csvindex.h]) * this.scale })
                            .attr("width", () => { return e[csvindex.w] * this.scale })
                            .attr("height", () => { return e[csvindex.h] * this.scale })
                            .attr("stroke-width", 1)
                            .attr("stroke", "#555")
                            .attr("fill", "darkgray")
                    }
                }
                offsetX += this.plates[i][csvindex.w] + this.spacePlates / this.scale
            }

            // display defects
            for (let i = 0; i < this.nbplates; i++) {
                let ds = this.defectsobj.filter(e => e[defind.plate] === i)
                for (let e of ds) {
                    let ew = Math.max(e[defind.w], this.mindef / this.scale)
                    let eh = Math.max(e[defind.h], this.mindef / this.scale)
                    this.svgd3.append("rect")
                        .attr("x", () => { return (offsetplate[i] + e[defind.x]) * this.scale })
                        .attr("y", () => { return this.height - (e[defind.y] + eh) * this.scale })
                        .attr("width", () => { return ew * this.scale })
                        .attr("height", () => { return eh * this.scale })
                        .attr("fill", "red")
                }
            }
        },
    },
    mounted: function () {
        this.displaySolution()

        // add key event listener to scroll solution
        window.addEventListener('keydown', (e) => {
            // if (e.repeat) {}
            if (e.keyCode === 39) { // right key
                this.scrollRightSol(500)
            }
            if (e.keyCode === 37) { // left key
                this.scrollLeftSol(500)
            }
        });
    },
    computed: {
        plates: function () {
            if (this.isSolExists) {  // if solution empty
                return []
            } else {
                return this.solution.lines.filter(e => e[csvindex.cut] === 0)
            }
        },
        nbplates: function () {
            return this.plates.length
        },
        width: function () {
            if (this.nbplates.length === 0) {
                return this.height * 2
            } else {
                let plateswidth = this.plates.reduce(((acc, curr) => acc + curr[csvindex.w]), 0)
                return plateswidth * this.scale + this.nbplates * this.spacePlates
            }
        },
        scale: function () {
            if (this.nbplates === 0) {
                return 1.
            } else {
                return this.height / this.plates[0][csvindex.h]
            }
        },
        nbitems: function () {
            return this.items.length
        },
        items: function () {
            if (this.isSolExists) {  // if solution empty
                return []
            } else {
                return this.solution.lines.filter(e => e[csvindex.type] >= 0)
            }
        },
        itemarea: function () {
            return this.items.reduce(((acc, curr) => acc + curr[csvindex.w] * curr[csvindex.h]), 0)
        },
        wastes: function () {
            if (this.isSolExists) {  // if solution empty
                return []
            } else {
                return this.solution.lines.filter(e => e[csvindex.type] === -1)
            }
        },
        wastearea: function () {
            return this.wastes.reduce(((acc, curr) => acc + curr[csvindex.w] * curr[csvindex.h]), 0)
        },
        percentageWaste: function () {
            let res = (this.wastearea / (this.itemarea + this.wastearea) * 100).toFixed(2)
            if (res != "NaN") {
                return res
            } else {
                return "-"
            }
        },
        defectsobj: function () {
            if (this.defectsExist) {
                return []
            } else {
                return this.defects.lines
            }
        },
        defectsExist: function () { return Object.entries(this.defects).length === 0 && this.defects.constructor === Object },
        isSolExists: function () { return Object.entries(this.solution).length === 0 && this.solution.constructor === Object },
        height: function () { return 500 },
        svg: function () { return document.querySelector('.svgdisplay') },
        svgd3: function () { return d3.select('.svgdisplay') },
        stats: function () {
            return [
                { 'name': 'Nb items', 'value': this.nbitems },
                { 'name': 'Nb plates', 'value': this.nbplates },
                { 'name': 'waste percentage', 'value': this.percentageWaste + "  %" },
                { 'name': 'nb defects on active plates', 'value': this.defectsobj.filter(e => e[defind.plate] <= this.nbplates).length }
            ]
        }
    },
    watch: {
        plateid: function () {
            this.displaySolution()
        },
        solution: function () {
            this.displaySolution()
        },
        defects: function () {
            this.displaySolution()
        }
    },
};
</script>

<style media="screen">
div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: white;
    border: 1px solid "#aaa";
    pointer-events: none;
}

.limitsvg {
    padding: 20px;
    overflow: scroll;
    border: 1px solid #aaa;
}
</style>
