<template>
    <v-app>
        <v-app-bar
            app
            color="primary"
            dark
        >

        <v-toolbar-title>packing-viz</v-toolbar-title>


        <v-spacer></v-spacer>

        <v-toolbar-items class="smalltoppadding">
            <v-file-input v-on:change="onSolutionLoad" prepend-icon="" dense outlined accept=".csv" placeholder="Select your file" label="Solution File"></v-file-input>
            <v-file-input v-cloak @drop.prevent="addDropFile" @dragover.prevent v-on:change="onDefectsLoad" prepend-icon="" dense outlined accept=".csv" placeholder="Select your file" label="Defects File"></v-file-input>
        </v-toolbar-items>

        </v-app-bar>

        <v-content>
            <Main v-bind:solution="solution" v-bind:defects="defects" />
        </v-content>
    </v-app>
</template>

<script>
import Main from './components/Main';

export default {
    name: 'App',
    components: {
        Main,
    },
    data: () => ({
        solution: {},
        defects: {}
    }),
    mounted: function() {
        this.readFromUrl((data) => { this.solution = data }, "u")
        this.readFromUrl((data) => { this.defects = data }, "d")
    },
    methods: {
        addDropFile(e) {
            let f = e.dataTransfer.files[0]
            this.readCSV(f, (data) => {
                alert(data)
                this.defects = data
            })
        },
        onSolutionLoad(f) {
            this.readCSV(f, (data) => {this.solution = data})
        },
        onDefectsLoad(f) {
            this.readCSV(f, (data) => {this.defects = data})
        },
        readFromUrl(callback, name, sep=";") {
            // load url
            let usp = new URLSearchParams(window.location.search.slice(1));
            let self = this
            if (usp.has(name)) {  // if url requested
                let u = usp.get(name)
                fetch(u)
                    .then(function(res) { return res.blob() })
                    .then(function(blob) {
                        var reader = new FileReader()
                        reader.onload = function() {
                            self.readFromReader(reader, callback, sep)
                        }
                        reader.readAsText(blob)
                    })
            }
        },
        readFromReader(reader, callback, sep=";") {
            let data = {'header': [], 'lines': []}
            let lines = reader.result.split("\n")
            let header = lines[0]
            data.header = header.split(sep)
            if ( data.header.length == 1 ) {
                data.header = header.split(",")
                sep = ","
            }
            for ( let i in lines ) {
                if ( i > 0 && lines[i].split(sep).length === data.header.length  ) {
                    data.lines.push( lines[i].split(sep).map( e => parseInt(e) ) )
                }
            }
            callback(data)
        },
        readCSV(f, callback, sep=";") {
            let reader = new FileReader()
            let self = this
            reader.readAsText(f)
            reader.onload = function() {
                self.readFromReader(reader, callback, sep)
            }
        }
    },
};
</script>

<style media="screen">
    .smalltoppadding {
        padding-top: 10px;
    }
</style>
